[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/RaidcoreGG/imgui
[submodule "src/unofficial_extras"]
	path = src/unofficial_extras
	url = https://github.com/Krappa322/arcdps_unofficial_extras_releases
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json
